#content
  .well
    %h2.text-center
      %span.bold
        BUILD
      YOUR PROFILE
    .login_nav
      %p.p_account.active
        ACCOUNT
      %p.p_about
        ABOUT YOU
      %p.p_finalize
        FINALIZATION


    = render 'form'
    = link_to 'Back', games_path