@import "bootstrap-sprockets";
@import "bootstrap";



.navbar-brand a {
  color: #34a90e;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
  color: #40e50b;
}


.navbar-toggle:focus {
	background-color:#34a90e
}

.dropdown-toggle:focus {
  background-color:#34a90e;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #34a90e;
    border-bottom-color: #34a90e;
}

.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #000;
    border-bottom-color: #000;
}

.navbar-inverse .navbar-nav > .dropdown > a:focus{
    background-color: #34a90e;
}

body {
  padding-top: 50px;
}

button.btn,
button.btn:active {
  background-color:#34a90e; 
  border-color: #34a90e;
}

button.btn:hover,
button.btn:focus {
  background-color: #40e50b;
  border-color: #34a90e;
}

a,
a:active {
  
  color: #34a90e; 
}

a:hover,
a:focus {
  text-decoration: none;
  color: #40e50b;
}

.form-control:focus {
  border-color: #34a90e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(64, 229, 11, 1);
}

img#cover {
    width:200px; 
    height: auto;
}


.gap-right {
  margin-right: 5%; 
}

.gap-right {
  margin-top: 2%; 
}