- if @users != nil && !@users.empty?
  %h1 Users
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th Id
        %th Username
        %th Email
    -@users.each do |user|
      %tr
        %td= user[0]
        %td= user[1]
        %td= user[2]
  = will_paginate(@users, :param_name => "users_page", :params => {:controller => "search", :action => "research"}, :remote => true)